.Rproj.user
.Rhistory
.RData
.Ruserdata

rsconnect

ignore/
RSelenium_testing/
flowchart_what_to_publish/
_email/

datastore-dump_&_persistent-link-to-csv.docx

*.msg
*.7z
*.zip
*.gz

# *.csv
# *.xls
# *.xlsx
# *.pdf

.checkpoint

water-rights-master-flat-file_GIS-server.R

*/email/
*/Original_Dataset_(From_MarkE)/

SMARTS/A Request for Real-time Open Data APIs for Specific SMARTS and CIWQS Data Sets.pdf
SMARTS/_DataPortalUpload-Log.txt

xNotUsed/
_CKAN_Testing/
_API_queries_examples/

outlook_creds
gmail_creds

*/old
*/old/
old/
old
*/xOld

WebSvc_Tox-fields-check.R